body {
    justify-items: center;
}
#box {
    display: block;
    border: 2px solid black;
    margin: 20px;
    width: 500px;
    height: 200px;
    margin-top: 50px;
    border-radius: 20px;
}

button {
        width: 150px;
        height: 30px;
}
